#gridBox {
    background: rgba(43, 42, 42, 0.38);
    border-radius: 16px;
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(26, 25, 25, 0.59);
    border-radius: 20px;
    box-shadow: 0 4px 25px var(--shadow-color), inset 0 0 25px var(--glass-inner);
    display: grid;
    height: 800px;
    border: 5px solid rgb(63, 55, 55);
    grid-template-rows: auto 10%;
    width: 90%;
}

body {
    background: #000000;
    background: linear-gradient(216deg, rgba(0, 0, 0, 1) 0%, rgba(48, 48, 48, 1) 64%, rgba(10, 10, 10, 1) 100%);
    display: flex;
    flex-direction: column;
    /* Stack the boxes vertically */
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#output {
    font-size: 20px;
    overflow-y: scroll;
    background-color: rgb(133, 133, 133);
    border: inherit;
    border-radius: 20px;
    padding-left: 20px;
    padding: 10px;
}

#cli {
    font-size: 30px;
    border: inherit;
    gap: 5px;
    border-radius: 40px;
    margin-bottom: 50px;
    margin-top: 80px;
    height: 70%;
}